html, body {
	font-family: "Open Sans","Helvetica Neue",helvetica,Arial,sans-serif;
	font-size: 12pt;
	height: 100%;
	margin: 0px;
	border: 0px;	
	background: #ffffff;
}

/*-------------------------------*/
/* Nav bar
/*-------------------------------*/

#tabnav {
	background: #1C4E9C;
	border-bottom: 2px #000000 solid;
	flex: 0 0 auto;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;	
	align-content: center;
	justify-content: center;
}

#tabnav .tab {
	flex: 0 1 33%;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	background: #6C8BBB;
	border: 1px #000000 solid;
    border-radius: 10px;
	margin: 30px;
	text-decoration: none;
}

#tabnav h1 {
	display: inline;
}

#tabnav > .tab:hover {
	background: #8AA6D0;
}

/*-------------------------------*/
/* Content
/*-------------------------------*/

#ppages {
	flex: 1 0 100%;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*-------------------------------*/
/* Projects page
/*-------------------------------*/

#ppage_account {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	overflow: auto;
}

#ppage_account .column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	align-items: stretch;
	margin: 8px;
}

#ppage_account table {
	width: 100%;
	border: 1px #C5C5C5 solid;
	border-radius: 10px;
}

#ppage_account table th {
	border-bottom: 1px #C5C5C5 solid;
}

#ppage_account .nosites {
	padding-left: 60px;
	color: #939393;
	font-style: italic;
}

#ppage_account #siteButtons {
	margin: 10px;
}

#ppage_account .nosites {
	padding-left: 60px;
	color: #939393;
	font-style: italic;
}

#sitetable td {
	background: #ffffff;
}

/*-------------------------------*/
/* Project page
/*-------------------------------*/

#ppage_project {
	flex: 1 1 auto;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	overflow: auto;
}

#ppage_project .column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	align-items: stretch;
	margin: 8px;
}

#ppage_project .column .row .column .row {
	margin-bottom: 10px;
}

#ppage_project #noattachments {
	padding: 20px;
	color: #939393;
	font-style: italic;
}

#ppage_project #noissues {
	padding: 20px;
	color: #939393;
	font-style: italic;
}

#ppage_project #validation_container {
	padding: 20px;
}

#ppage_project table {
	width: 100%;
	border: 1px #C5C5C5 solid;
	border-radius: 10px;
	background: #ffffff;
}

/*-------------------------------*/
/* Notes page
/*-------------------------------*/

#ppage_notes {
	flex: 1 0 auto;
	display: none;
	flex-direction: row;
	justify-content:flex-start;
	align-items: stretch;
	align-content: stretch;
	overflow: auto;
	display: none;
}

#ppage_notes .column {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	align-items: stretch;
	margin: 8px;
	height: 600px;
}

#ppage_notes .row {
	flex: 1 0 auto;
}

#ppage_notes iframe {
	width: 100%;
	height: 100%;
	flex: 1 0 auto;
	align-self: stretch;
	align-items: stretch;
}

/*-------------------------------*/
/* History page
/*-------------------------------*/

#ppage_history {
	flex: 1 0 auto;
	align-self: stretch;
	display: none;
	overflow: auto;
	height: 100%;
	display: none;
	flex-direction: row;
}

#ppage_history .column {
	margin: 8px;
	flex: 1 0 auto;
	align-self: stretch;
	display: flex;
}

.rtfContainer {
	flex: 1 0 auto;
	align-self: stretch;
	display: flex;
}

.rtfContainer fieldset {
	flex: 1 0 auto;
	align-self: stretch;
	height: 800px;
}

img[src='../img/enabled.png'], img[src='../img/warning.png'] {
	width: 24px;
	height: 24px;
}

*[readonly=true] {
	background: #FCFCFC;
}